.login-form {
  margin-top: 10px;
}

.login-form input {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

.error-label {
  color: red;
}

.undisplayed {
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.links * {
  display: block;
}